@model ProfileSelect.Models.ResetStudentPasswordViewModel
@{
    ViewBag.Title = "Сменить пароль студента";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new {Area="Student" , @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        <div class="col-md-6">
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class = "col-md-2 control-label">Мой текущий пароль</label>
        <div class="col-md-10">
            <input type="text" class = "form-control" value="@ViewBag.Password" disabled=""/>
        </div>
    </div><div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary pull-left" value="Сменить пароль" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
