@model ProfileSelect.ViewModels.StudentViewModel
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "Личный кабинет пользователя";
}

<div class="col-md-12">
    <h3 class="pull-left">
        <strong>@Model.LastName @Model.FirstName @Model.Patronymic</strong><br />
        Текущая группа: <strong>@Model.CurrentGroupName</strong><br />
        @if (Model.PreviewGroupName != "" && Model.NewGroupName == "")
        {
            <p>Предварительная группа: <strong>@Model.PreviewGroupName</strong></p>
        }

        @if (Model.NewGroupName != "")
        {
            <p>Новая группа: <strong>@Model.NewGroupName</strong></p>
        }
    </h3>
</div>
<div class="col-md-12">
    <h4 class="pull-left">
        <strong>Инструкция:</strong><br />
        <ul>
            <li><strong>Внимание!</strong> Ваши заявления обработаны!</li>
            <li>Если Вы хотите изменить свое заявление, то нажмите на кнопку "Написать заявление"</li>
            <li>После заполнения формы необходимо распечатать заявление, поставить свою подпись и принести в кабинет А-419 в срок до 20 июля 2018 года</li>
        </ul>
    </h4>
</div>
<div class="col-md-12">
    <a href="@Url.Action("WriteClaim", "Home", new {Area="Student"})" class="btn btn-primary pull-left">Написать заявление №@Model.ClaimNumber</a>
</div>
