@model IEnumerable<ProfileSelect.ViewModels.GroupViewModel>
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "Группы";
}

<div class="table-responsive col-md-12">
    <a href="@Url.Action("Add", "Groups", new {Area="Admin"})" class="btn btn-primary pull-left margin-bottom-10">Добавить группу</a>
    <a href="@Url.Action("ChangeNumbers", "Groups", new {Area="Admin"})" class="btn btn-primary pull-left margin-bottom-10">Определить численность</a>
    <table id="groups-table" class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Направление</th>
                <th>Кафедра</th>
                <th>Не участвует в распределении</th>
                <th>Количество</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @{ var i = 0;}
            @foreach (var item in Model.OrderBy(m => m.DirectionName))
            {
                <tr>
                    @{
                        i++;
                        <td>@i</td>
                    }
                    <td>@item.Name</td>
                    <td>@item.DirectionName</td>
                    <td>@item.DepartmentName</td>
                    <td>
                        <div class="form-horizontal" style="margin-left: 10px;">
                            <div class="form-group">
                                <input type="checkbox" class="is-bisy-chk" @(item.IsDist ? "checked=''" : "") data-id="@item.Id" />Не участвует
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-horizontal" style="margin-left: 20px; width: 30px">
                            <div class="form-group">
                                <input type="number" class="count-txt form-control" data-id="@item.Id" value="@item.Count" />

                            </div>
                        </div>
                    </td>
                    <td>
                        <div id="navigation">
                            <ul>
                                <li><a href="@Url.Action("Edit", "Groups", new {Area="Admin", item.Id})">Редактировать</a></li>
                                <li><a href="@Url.Action("Delete", "Groups", new {Area="Admin", item.Id})">Удалить</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script type="text/javascript">
        //$('#groups-table').DataTable({
        //    language: rus_lang,
        //    responsive: true
            
        //});
        $('.is-bisy-chk').change(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SetIsBusy", "Groups", new {Area="Admin"})',
                data: JSON.stringify({
                    id: $(this).data('id'),
                    isDistr: $(this).is(':checked')
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    toastr.info(response.Message);
                }
            });
        });
         $('.count-txt').change(function() {
                  $.ajax({
                    type: "POST",
                    url: '@Url.Action("SetCountText", "Groups", new {Area="Admin"})',
                    data: JSON.stringify({
                        id: $(this).data('id'),
                        Number: $(this).val()
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                      toastr.info(response.Message);
                    }
                  });
                });
    </script>
}