@model IEnumerable<ProfileSelect.ViewModels.GroupViewModel>
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "Группы";
}

<div class="table-responsive col-md-12">
    <a href="@Url.Action("Add", "Groups", new {Area="Admin"})" class="btn btn-primary pull-left margin-bottom-10">Добавить группу</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Специализация</th>
                <th>Кафедра</th>
                <th>Статус</th>
                <th>Количество</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.DirectionName</td>
                    <td>@item.DepartmentName</td>
                    <td>@item.StatusName</td>
                    <td>@item.Count</td>
                    <td>
                        <div id="navigation">
                            <ul>
                                <li><a href="@Url.Action("Edit", "Groups", new {Area="Admin", item.Id})">Редактировать</a></li>
                                <li><a href="@Url.Action("Delete", "Groups", new {Area="Admin", item.Id})">Удалить</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
