@model IEnumerable<ProfileSelect.ViewModels.ProfileViewModel>
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "Направление специальности";
}

<div class="table-responsive col-md-12">
<a href="@Url.Action("Add", "Profile", new {Area="Admin"})" class="btn btn-primary pull-left margin-bottom-10">Добавить направление специальности</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Специализация</th>
            <th>Кафедра</th>
            <th>Базовая кафедра</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @{ var i = 0;}
        @foreach (var item in Model.OrderBy(m=>m.DirectionName))
        {
            <tr>
                @{
                    i++;
                    <td>@i</td>
                }
                <td>@item.Name</td>
                <td>@item.DirectionName</td>
                <td>@item.DepartmentName</td>
                <td>@item.BaseDepartmentName</td>
                <td>
                    <div id="navigation">
                        <ul>
                            <li><a href="@Url.Action("Edit", "Profile", new {Area="Admin", item.Id})">Редактировать</a></li>
                            <li><a href="@Url.Action("Delete", "Profile", new {Area="Admin", item.Id})">Удалить</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
