@model IEnumerable<ProfileSelect.ViewModels.StudentViewModel>
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "Студенты";
}
@if (ViewBag.HasErrors)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
}

<div class="row margin-bottom-10">
    <div class="col-md-2">
        <a href="@Url.Action("Add", "Student", new {Area = "Admin"})" class="btn btn-primary pull-left">Добавить студента</a>
    </div>
    <div class="col-md-3">
        <a href="@Url.Action("FillGroups", "Home", new {Area = "Admin"})" class="btn btn-primary pull-left">Распределить по группам</a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("ConfirmUserGroups", "Home", new {Area="Admin"})" class="btn btn-primary pull-left">Утвердить группы</a>
    </div>
</div>
<table id="students-table" class="table table-bordered">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Баллы</th>
            <th>Номер</th>
            <th>Активен?</th>
            <th>Статус</th>
            <th>Комментарии статуса</th>
            <th>Текущая группа</th>
            <th>Предварительная группа</th>
            <th>Новая группа</th>
            <th>Специализация</th>
            <th>Направление специализации</th>
            <th>Логин</th>
            <th>Пароль</th>
            <th>Пароль действителен до</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
        <tr>
            <td>@s.FirstName</td>
            <td>@s.LastName</td>
            <td>@s.Patronymic</td>
            <td>@s.AverageScore</td>
            <td>@s.Number</td>
            <td>@(s.IsActive ? "Да" : "Нет")</td>
            <td>@s.StatusName</td>
            <td>@s.StatusComm</td>
            <td>@s.CurrentGroupName</td>
            <td>@s.PreviewGroupName</td>
            <td>@s.NewGroupName</td>
            <td>@s.DirectionName</td>
            <td>@s.NewProfileName</td>
            <td>@s.UserName</td>
            <td>@s.Password</td>
            <td>@(s.ValidUntil?.ToString("f") ?? "")</td>
            <td>
                <div id="navigation">
                    <ul>
                        <li><a href="@Url.Action("Edit", "Student", new {Area = "Admin", s.Id})">Редактировать</a></li>
                        <li><a href="@Url.Action("Delete", "Student", new {Area = "Admin", s.Id})">Удалить</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript">
        $('#students-table').DataTable({
            language: rus_lang,
            responsive: true,
            columnDefs: [
                {
                    targets: [0],
                    responsivePriority: 1
                },
                {
                    targets: [1],
                    responsivePriority: 1
                },
                {
                    targets: [2],
                    responsivePriority: 1
                },
                {
                    targets: [3],
                    responsivePriority: 1
                },
                {
                    targets: [4],
                    responsivePriority: 2
                },
                {
                    targets: [5],
                    responsivePriority: 1
                },
                {
                    targets: [6],
                    responsivePriority: 1
                },
                {
                    targets: [7],
                    responsivePriority: 1
                },
                {
                    targets: [8],
                    responsivePriority: 1
                },
                {
                    targets: [9],
                    responsivePriority: 1
                },
                {
                    targets: [10],
                    responsivePriority: 1
                },
                {
                    targets: [11],
                    responsivePriority: 1
                },
                {
                    targets: [12],
                    responsivePriority: 1
                },
                {
                    targets: [13],
                    responsivePriority: 1
                },
                {
                    targets: [14],
                    responsivePriority: 3
                },
                {
                    targets: [15],
                    responsivePriority: 3
                },
                {
                    targets: [16],
                    responsivePriority: 3
                }
            ]
        });
    </script>
}
